*{
    margin: 0;
    padding: 0;
}
body, html {
    font-family:'Times New Roman', 'trebuchet MS', 'Lucida sans', Arial;
    font-size: 18px;
    color: #555;
    width: 100%;
    height: 100%;
}
p{
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
.webs polygon {
    fill: gray;
    fill-opacity: 0.5;
    stroke: black;
    stroke-dasharray: 10 5;
}

.lines line {
    fill: black;
    fill-opacity: 0.5;
    stroke: black;
    stroke-dasharray: 10 5;
}

.areas polygon {
    fill-opacity: 0.5;
    stroke-width: 3;
}

.areas circle {
    fill: white;
    stroke-width: 3;
}

div {
    margin: 0;
    padding: 0;
    border: 0;
}
form{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    float: left;
}
#codelist table,tbody,tr,td{
    margin: auto;
    border: 10px none #333;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 10px;
}

#card {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
    z-index: 1;
    border: 5px solid;
}
#tmp {
    position: absolute;
    top: 90%;
    z-index: 1;
    border: 5px solid;
}